{% extends 'web/layouts/app.twig' %} 
{% block title %} Mobile Application Development | Website Design | Content Writing | Scurite{% endblock %} 
{% block content %}

<div class="page-title-area item-bg1">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
    <!-- End Page Title Area -->
<!-- Start Services Area -->
<section class="services-area bg-f2f6f9 ptb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-income"></i>
                    </div>

                    <h3><a href="#">Machine Learning</a></h3>
                    <p>We use Machine Learning algorithms to build real-time applications that can substitute the manual decision-making process.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-automatic"></i>
                    </div>

                    <h3><a href="#">UI/UX Engineering</a></h3>
                    <p> Scurite creates the most eye-catching design that lasts an impression of by creating the same design for desktop, mobile, and tablet. </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-locked"></i>
                    </div>

                    <h3><a href="#">DevOps Consulting</a></h3>
                    <p>Scurite serves you one-click deployment and end-to-end delivery pipeline across the leading cloud platforms.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-molecular"></i>
                    </div>

                    <h3><a href="#">Native App Design</a></h3>
                    <p> We help you design an individual application which will run on the single operating system containing all in-app features of that OS.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-gear"></i>
                    </div>

                    <h3><a href="#">Web Application</a></h3>
                    <p>Get the most desirable web app for your business with scurite, from a CMS to E-Commerce products, we cover it all.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-ceo"></i>
                    </div>

                    <h3><a href="#">Hybrid App Design</a></h3>
                    <p>Scurite understands the requirements of your product and designs a stable cross-platform app for various desktop and mobile devices.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-molecular"></i>
                    </div>

                    <h3><a href="#">Search Engine Optimization</a></h3>
                    <p>The highly trained and experienced faculty of scurite will help you get your website top-ranked through SEO and SEM.
</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-gear"></i>
                    </div>

                    <h3><a href="#">Tech Consulting</a></h3>
                    <p> With the latest technology and agility, we help you transform your products and business with our technical consultancy services.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-ceo"></i>
                    </div>

                    <h3><a href="#">Software Testing</a></h3>
                    <p>We at scurite provide you with the best QA and testing service through agile project management and the latest technologies.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img2"><img src="{{base_url()}}/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="{{base_url()}}/img/shape/3.png" alt="image"></div>
    <div class="shape-img4"><img src="{{base_url()}}/img/shape/4.svg" alt="image"></div>
    <div class="shape-img5"><img src="{{base_url()}}/img/shape/5.svg" alt="image"></div>
    <div class="shape-img7"><img src="{{base_url()}}/img/shape/3.png" alt="image"></div>
    <div class="dot-shape1"><img src="{{base_url()}}/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="{{base_url()}}/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="{{base_url()}}/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="{{base_url()}}/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="{{base_url()}}/img/shape/dot6.png" alt="image"></div>
</section>

{% endblock %}