	 <!-- Footer Start -->
	 <footer class="footer">
		 <div class="footer-first-row">
			 <div class="container">
				 <div class="row">
					 <div class="col-md-6 col-sm-6">
						 <ul class="call-email-alt">
							 <li><a href="tel:1800-000-000" class="callemail"><i class="uil uil-dialpad-alt"></i> {{phone}} </a></li>
							 <li><a href="mailto:support@gobasket.com" class="callemail"><i class="uil uil-envelope-alt"></i>{{mail}} </a></li>
						 </ul>
					 </div>
					 <div class="col-md-6 col-sm-6">
						 <div class="social-links-footer">
							 <ul>
								 <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
								 <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
								 <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
								 <li><a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a></li>
								 <li><a href="https://www.instagram.com/accounts/login/?hl=en"><i class="fab fa-instagram"></i></a></li>
								 <li><a href="https://in.pinterest.com/login/"><i class="fab fa-pinterest-p"></i></a></li>
							 </ul>
						 </div>
					 </div>				
				 </div>
			 </div>
		 </div>
		 <div class="footer-last-row">
			 <div class="container">
				 <div class="row">
					 <div class="col-md-12">
						 <div class="footer-bottom-links">
							 <ul>
								 <li><a href="{{base_url()}}/aboutus">About </a></li>
								 <li><a href="{{base_url()}}/contactus">Contact </a></li>
								 <li><a href="{{base_url()}}/privacy">Privacy Policy </a></li>
								 <li><a href="{{base_url()}}/terms">Term & Conditions </a></li>
							 </ul>
						 </div>
						 <div class="copyright-text">
							 <i class="uil uil-copyright"></i>Copyright 2020  <b> {{company}} </b>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </footer>